$colorTheme: rgb(23, 80, 186);
$backgroundTheme: rgb(217, 232, 255);
$selectColor: rgb(29, 42, 62);
$buttonBackground: rgb(11, 100, 221);
$buttonBackgroundHover: rgb(5, 86, 200);
$backgroundLightColor: rgb(255, 255, 255);
$borderLightcolor: rgb(202, 211, 226);
